body{
    margin: 0;
    padding: 0;
 } 


 .traditat{
    border: solid 1px none;
    width: 100%;
    height: 250px;
    background-image: url("rrushi.jfif");
    background-attachment: fixed;
    background-size:cover;
}



 .traditat-div{
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid 1px none;
 }

 .traditat-div1{
    border: solid 1px none;
    display: flex;
    justify-content: flex-c;
    width: 70%;
    height: 100px;
    flex-direction: column;
 }

 .traditat-border{
    border: solid 1px black;
    width: 100%;
    height: 2px;
    margin-top: 0%;
    background-color: #4d2d0c;
    margin-top: -2%;
 }

 .traditat-p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #ff9934;
     margin-top: 2.3%; 
 } 

   @media (max-width:1000px){
      .traditat-border{
     margin-top: -3%; 
    } 

    .traditat-p1{
        margin-top: 4%; 
    } 

 }

 @media (max-width:600px){
    .traditat-border{
   margin-top: -5%; 
  } 

  .traditat-p1{
      margin-top: 7%; 
  }

}

@media (max-width:400px){
    .traditat-border{
   margin-top: -7%; 
  } 

  .traditat-p1{
      margin-top: 10%; 
  }

  .traditat-p1{
    font-size: 24px;
 } 

}
 




/* pershkrimi */
 
  .traditat-div2{
    width: 100%;
    height: auto;
    border: solid 1px none;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .traditat-div3{
    margin-top: 0%;
    border: solid 1px none;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 48px;
 }

 .traditat-border1{
    border: solid 1px none;
    width: 100%;
    height: 4px;
    background-color: #4d2d0c;
  margin-top: 40px;
    
 }

 .traditat-div4{
    border: solid 1px none;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: auto;
 }

 .traditat-p2{
    color: #a89797;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
 }


 /* test */

.testo{
    border: solid 1px none;
    width: 100%;
    height: 20px;
}


/* background */

.traditat1{
    border: solid 1px none;
    width: 100%;
    height: 250px;
    background-image: url("vera.jpg");
    background-attachment: fixed;
    background-size:cover;
}


/* produktet tradiconale */

.traditat2{
    border: solid 1px none;
    width: 100%;
    height: 250px;
    background-image: url("produktet.jpg");
    background-attachment: fixed;
    background-size:cover;
}


.traditat8{
    border: solid 1px none;
    width: 100%;
    height: 30px;
}
 