body {
  background-color: rgb(156, 156, 156);
}

.res1 {
  border: 5px solid black;
  width: 100%;
  height: auto;
}

.res2 {
  border: 5px solid none;
  width: 100%;
  height: 150px;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-img {
  border: 5px solid none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.res-img1 {
  border: 5px solid red;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
}
.res-img11 {
  border: 5px solid red;
  border-radius: 10px;
  width: 90%;
  height: 90%;
}

.res-img2 {
  border: 5px solid blue;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.res-img-map {
  border: 5px solid none;
  width: 40%;
  height: 100%;
  margin: 5px 0px 5px 0px;
}

.res-description {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.res-description1 {
  border: 5px solid blue;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.res-d1 {
  border: 5px solid none;
  width: 42%;
  height: 100%;
}

.res-d1 p {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  margin: 20px 20px 0px 0px;
  line-height: 200%;
}

.res-d2 {
  border: 5px solid none;
  width: 42%;
  height: 100%;
}

.adr1 {
  border: 4px solid none;
  width: 100%;
  height: 15%;
  font-size: 30px;
  margin: 15px 0px 5px 10px;
}

.location1 {
  border: 1px solid none;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loc1 {
  border: 1px solid none;
  width: 10%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loc2 {
  border: 1px solid none;
  width: 90%;
  height: 100%;
  font-size: 20px;
  margin: 10px -5px;
}

.Contact-1 {
  border: 4px solid none;
  width: 100%;
  height: auto;
  font-size: 30px;
  display: flex;
  padding: 10px 0px 10px 10px;
  align-items: center;
}

.con1 {
  border: 2px solid none;
  width: 100%;
  height: 8%;
  display: flex;
  padding: 0px 0px 10px 10px;
  align-items: center;
}

.c1 {
  border: 2px solid none;
  width: 10%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2 {
  border: 2px solid none;
  width: 90%;
  height: 100%;
  font-size: 20px;
}

.conn1 {
  margin: 15px 0px 5px 10px;
  border: 2px solid none;
  width: 100%;
  height: 10%;
  display: flex;
  font-size: 30px;
}

.c22 {
  border: 2px solid none;
  width: 100%;
  height: 10%;
  display: flex;
  display: flex;
  align-items: center;
}

.c11 {
  border: 2px solid none;
  width: 10%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c12 {
  border: 2px solid none;
  width: 90%;
  height: 100%;
  font-size: 20px;
}

.MapFrame {
  height: 90%;
  width: 90%;
  border: 3px solid blue;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  .res-img {
    flex-direction: column;
  }

  .res-img1 {
    width: 100%;
  }

  .res-img-map {
    width: 100%;
  }

  .res-description1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .res-d1 {
    width: 85%;
    text-align: justify;
  }

  .res-d1 p {
    font-size: 20px;
  }

  .res-d2 {
    width: 90%;

    height: auto;
  }

  .loc1 {
    width: 10%;
  }

  .loc2 {
    width: 85%;
    font-size: 18px;
    height: 100%;
  }

  .Contact-1 {
    height: auto;
    margin: 0px;
    align-items: center;
    padding: 10px 0px 10px 10px;
  }
  .con1 {
    justify-content: center;
    margin: 0px;
    padding: 10px 0px 10px 0px;
  }
  .c2 {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .res-d1 p {
    font-size: 25px;
  }
}
