body {
  margin: 0;
  padding: 0;
}

/* misione dhe vizioni */

/* .div3{
    width:100%;
    height:30px;
    border:1px solid white;
    border-color: white;
}

   
    .div-teksti3{
    
    border: 1px solid none;
    height: auto;
    width:100%;
    display: flex;
    justify-content: center;
    text-align: left;
    background-color:white;
    }
    
    .div-tekst3{
   
    height: 100%;
    width:70%;
    font-size: 15px;
    background-color:white;
    }
    
    .div-tekst3 p{
    margin-top: 0px;
    border-style: solid;
    border-color:black;
    border-width:0px 0px 0px 3px;
    padding-left: 20px;
    background-color:white;
    padding-bottom: -45px;
    font-size: 18px;
    color: black;  
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    } */

/* footer */

.div2 {
  width: 100%;
  height: 50px;
  border: 1px solid #320000;
  border-color: #320000;
  background-color: #320000;
}

.footer1 {
  border: 3px solid none;
  width: 100%;
  height: 450px;
  background-color: #320000;
}

.footerP1 {
  border: 3px solid;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerP11 {
  border: 3px solid none;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: initial;
  margin-left: 2%;
}

.footerP11 {
  font-family: arial;
  font-weight: bold;
  font-size: 23px;
  color: white;
}

.a1 {
  border: 3px solid none;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  font-family: arial;
  font-size: 17px;
  font-weight: 500;
  color: #b5c1c9;
}

/* .a2{
        border:1px solid none;
        width: 50%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left; 
    } */

.a22 {
  border: 3px solid none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  font-family: arial;
  font-size: 17px;
  font-weight: 500;
  color: #b5c1c9;
}

.footerP2 {
  border: 3px solid none;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footerP22 {
  border: 3px solid none;
  width: 25%;
  height: 450px;
}

.footerP22 img {
  width: 100%;
  height: 325px;
  margin-top: 7%;
  border-radius: 4px;
  margin-left: 2%;
}

.footerP3 {
  border: 3px solid none;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: -10%; */
}

.footerP33 {
  border: 3px solid none;
  width: 10%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.footerP33 img {
  width: 30%;
  height: 38px;
}

@media (max-width: 1200px) {
  .footerP33 img {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .footerP33 img {
    width: 49%;
  }
}

@media (max-width: 800px) {
  .footerP33 img {
    width: 55%;
  }
}

.footerP4 {
  border: 3px solid none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerP44 {
  border-top: 3px solid #ff9934;
  width: 90%;
  height: auto;
  text-align: center;
}

.footerP44 p {
  font-family: Verdana;
  font-size: 16px;
  font-weight: 500;
  color: #b5c1c9;
}
@media screen and (max-width: 1000px) {
  .footer1 {
    height: 25%;
  }

  .footerP22 {
    width: 60%;
    height: 600px;
  }
  #p {
    margin-top: -45%;
  }

  .footerP2 {
    height: auto;
  }
  .footerP33 {
    width: 40%;
  }

  .footerP33 img {
    margin-top: 8%;
    width: 20%;
    height: 40px;
  }

  .footerP4 {
    height: 300px;
  }

  .a1 {
    height: 40px;
  }

  .footerP22 {
  }

  .footerP3 {
    margin-top: -20%;
  }

  .footerP44 {
    margin-top: 2%;
  }

  .c {
    margin-top: -5%;
  }

  .cc {
  }

  .error {
    margin-top: -45%;
  }
}

@media (max-width: 400px) {
  .footerP33 img {
    width: 28%;
  }
}

.div-copyright {
  border: 1px solid none;
  width: 100%;
  height: 125px;
  background-color: #320000;
}

@media (max-width: 1127px) {
  #a1 {
    height: 40px;
  }
}

@media (max-width: 1127px) {
  #a1 {
    height: 43px;
  }
}

@media (max-width: 1085px) {
  .a22 {
    height: 60px;
  }
}

@media (max-width: 1045px) {
  #a123 {
    height: 50px;
  }
}
